@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(15, 15, 37, 0.95);
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}